*{
    margin: 0px;
}

.ft-accordion-container{
    display: flex;
    flex-direction: column;
    margin: 12px;

    .ft-accordion-wrapper-lg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border-bottom: 1px solid $color-gray-lighter;
    
        .ft-accordion-heading-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .ft-accordion-heading{
                color: $color-gray-dark;
                font-size: $fontsize-base-lg;
                font-weight: $fontweight-regular;
                line-height: $lineheight-base-lg;
                letter-spacing: $letterspacing-base-lg;
            }
        
            .ft-accordion-sub-heading{
                color: $color-gray;
                font-size: $fontsize-base-sm;
                font-weight: $fontweight-regular;
                line-height: $lineheight-base-sm;
                letter-spacing: $letterspacing-small;
            }
        }
    
        svg{
            color: $color-gray;
            
        }
        
        &:hover{
            .ft-accordion-heading-wrapper{
                .ft-accordion-heading{
                    color: $color-black;
                }
                .ft-accordion-sub-heading{
                    color: $color-black;
                }
            }
            svg{
                color: $color-black;
            }
        }

       
    }

    .ft-accordion-panel{
        padding: 12px
    }
}


.ft-accordion-container-gray{
    display: flex;
    flex-direction: column;
    margin: 12px;

    .ft-accordion-wrapper-lg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border-bottom: 1px solid $color-gray-lighter;
    
        .ft-accordion-heading-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .ft-accordion-heading{
                color: $color-gray-lighter;
                font-size: $fontsize-base-lg;
                font-weight: $fontweight-regular;
                line-height: $lineheight-base-lg;
                letter-spacing: $letterspacing-base-lg;
            }
        
            .ft-accordion-sub-heading{
                color: $color-gray-lighter;
                font-size: $fontsize-base-sm;
                font-weight: $fontweight-regular;
                line-height: $lineheight-base-sm;
                letter-spacing: $letterspacing-small;
            }
        }
    
        svg{
            color: $color-gray-lighter;
            
        }
    }

    .ft-accordion-panel{
        display:none;
        padding: 12px
    }

}

 .ft-accordion-svg-up{
     transition: 0.3s ease-in-out;
     transform: rotate(180deg);
}
.ft-accordion-svg-down{
    transition: 0.3s ease-in-out;
    transform: rotate(0deg);
}

