body.user-is-tabbing button:focus {
  box-shadow: 0 0 0 2px $color-selected;
}

.ft-button {
  @include font-base-lg();
  font-family: $font-primary;
  font-weight: $fontweight-semi;

  padding: 7px 11px 9px 11px;
  height: $baseline*10;
  box-sizing: border-box;

  border-radius: 2px;
  border-width: 1px;
  border-style: solid;

  outline: none;

  &:active,
  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: default;
      box-shadow: none;
    }
  }

  &:active {
    box-shadow: none;
  }

}

.ft-button--block {
  display: block;
  width: 100%;
}

@mixin button-box-shadow($color) {
  box-shadow: inset 0 -1px 0 0 rgba(black, 0.1),
              inset 0 1px 0 0 rgba(white, 0.1),
              0 8px 8px -8px rgba($color, 0.5),
              0 10px 15px -8px rgba(black, 0.2);

  &:disabled {
    box-shadow: none;
  }

  &:hover {
    box-shadow: inset 0 -1px 0 0 rgba(black, 0.1),
                inset 0 1px 0 0 rgba(white, 0.1),
                0 8px 8px -8px rgba($color, 0.6),
                0 10px 15px -8px rgba(black, 0.3);
  }

}

.ft-button--primary {
  background-color: $color-action;
  border-color: $color-action-darkest;
  color: $color-white;

  @include button-box-shadow($color-action);

  &:hover {
    background-color: $color-action-lighter;

  }

  &:active {
    background-color: $color-action-darker;
    box-shadow:none;
  }

  &:disabled {
    opacity: 0.4;

    &:hover {
      background-color: $color-action;
    }
  }

}

.ft-button--secondary {
  background-color: $color-secondary;
  border-color: $color-gray-lighter;
  color: $color-gray-dark;
  font-weight: $fontweight-regular;

  box-shadow: inset 0 -1px 0 0px rgba(black,0.08),
              inset 0 1px 0 0px rgba(white,0.5),
              0 3px 1px -2px rgba($color-secondary,0.5),
              0 4px 3px -2px rgba(black,0.15);

  &:hover {
    background-color: $color-secondary-lighter;
    color: $color-black;
    box-shadow: inset 0 -1px 0 0px rgba(black,0.08),
            inset 0 1px 0 0px rgba(white,0.5),
            0 3px 1px -2px rgba($color-secondary,0.6),
            0 4px 3px -2px rgba(black,0.2);
  }

  &:active {
    background-color: $color-secondary-darker;
    box-shadow:none;
  }

  &:disabled {
    color: $color-disabled;
    border-color: $color-gray-lighter;
    background-color: $color-secondary;
    box-shadow: none;

    &:hover {
      background-color: $color-secondary;
    }
  }
}

.ft-button--destructive {
  background-color: $color-error;
  border-color: $color-error-darkest;
  color: $color-white;

  @include button-box-shadow($color-error);

  &:hover {
    background-color: $color-error-lighter;
  }

  &:active {
    background-color: $color-error-darker;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.4;

    &:hover {
      background-color: $color-error;
    }
  }
}

.ft-button--wrapper{
  padding: 2px ;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
}
.ft-button--white {
  background-color: $color-white;
  border-color: $color-gray-lightest;
  color: $color-gray;

  @include button-box-shadow($color-white);

  &:hover {
    color: $color-black;
  }

  &:active {
    background-color: $color-gray-lightest;
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.4;

    &:hover {
      background-color: $color-disabled;
      color: $color-gray-lighter;
    }
  }
}
.ft-button--gradient {
  border:none;
  background-color: $color-white;
  color: $color-gray;

  &:hover {
    background: transparent;
    color: $color-white;
  }
  &:disabled {
    opacity: 0.4;
    &:hover {
      background-color: $color-gray;
    }
  }
}
.ft-button--outline {
  background-color: none;
  border-color: $color-gray;
  border-width: 2px;
  color: $color-gray;

  &:hover {
    color: $color-white;
    background-color: $color-gray;
  }
  &:disabled {
    opacity: 0.4;

    &:hover {
      background-color: none;
    }
  }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
