body.user-is-tabbing button:focus {
  box-shadow: 0 0 0 2px $color-selected;
}
.ft-baseButton{
  @include baseButton();
}
.ft-baseButtonSm{
  @include baseButtonSm();
}
.ft-button {
  @include baseButton();
  box-sizing: border-box;

  border-radius: 2px;
  border-width: 1px;
  border-style: solid;

  outline: none;

  &:active,
  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: default;
      box-shadow: none;
    }
  }

  &:active {
    box-shadow: none;
  }

}

.ft-button--block {
  display: block;
  width: 100%;
}

@mixin button-box-shadow($color) {
  box-shadow: inset 0 -1px 0 0 rgba(black, 0.1),
              inset 0 1px 0 0 rgba(white, 0.1),
              0 8px 8px -8px rgba($color, 0.5),
              0 10px 15px -8px rgba(black, 0.2);

  &:disabled {
    box-shadow: none;
  }

  &:hover {
    box-shadow: inset 0 -1px 0 0 rgba(black, 0.1),
                inset 0 1px 0 0 rgba(white, 0.1),
                0 8px 8px -8px rgba($color, 0.6),
                0 10px 15px -8px rgba(black, 0.3);
  }

}

.ft-button--primary {
  background-color: $color-action;
  border-color: $color-action-darkest;
  color: $color-white;

  @include button-box-shadow($color-action);

  &:hover {
    background-color: $color-action-lighter;

  }

  &:active {
    background-color: $color-action-darker;
    box-shadow:none;
  }

  &:disabled {
    opacity: 0.4;

    &:hover {
      background-color: $color-action;
    }
  }

}

.ft-button--secondary {
  background-color: $color-secondary;
  border-color: $color-gray-lighter;
  color: $color-gray-dark;
  font-weight: $fontweight-regular;

  box-shadow: inset 0 -1px 0 0px rgba(black,0.08),
              inset 0 1px 0 0px rgba(white,0.5),
              0 3px 1px -2px rgba($color-secondary,0.5),
              0 4px 3px -2px rgba(black,0.15);

  &:hover {
    background-color: $color-secondary-lighter;
    color: $color-black;
    box-shadow: inset 0 -1px 0 0px rgba(black,0.08),
            inset 0 1px 0 0px rgba(white,0.5),
            0 3px 1px -2px rgba($color-secondary,0.6),
            0 4px 3px -2px rgba(black,0.2);
  }

  &:active {
    background-color: $color-secondary-darker;
    box-shadow:none;
  }

  &:disabled {
    color: $color-disabled;
    border-color: $color-gray-lighter;
    background-color: $color-secondary;
    box-shadow: none;

    &:hover {
      background-color: $color-secondary;
    }
  }
}

.ft-button--destructive {
  background-color: $color-error;
  border-color: $color-error-darkest;
  color: $color-white;

  @include button-box-shadow($color-error);

  &:hover {
    background-color: $color-error-lighter;
  }

  &:active {
    background-color: $color-error-darker;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.4;

    &:hover {
      background-color: $color-error;
    }
  }
}

.ft-button--wrapper{
  padding: 2px ;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
}
.ft-button--white {
  background-color: $color-white;
  border-color: $color-gray-lightest;
  color: $color-gray;

  @include button-box-shadow($color-white);

  &:hover {
    color: $color-black;
  }

  &:active {
    background-color: $color-gray-lightest;
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.4;

    &:hover {
      background-color: $color-disabled;
      color: $color-gray-lighter;
    }
  }
}
.ft-button--gradient {
  border:none;
  background-color: $color-white;
  color: $color-gray;

  &:hover {
    background: transparent;
    color: $color-white;
  }
  &:disabled {
    opacity: 0.4;
    &:hover {
      background-color: $color-gray;
    }
  }
  &:active {
    background-color:rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.3);
  }
}
.ft-button--outline {
  background-color: none;
  border-color: $color-gray;
  border-width: 2px;
  color: $color-gray;

  &:hover {
    color: $color-white;
    background-color: $color-gray;
  }
  &:disabled {
    color: $color-gray-lighter;
    border-color: $color-gray-lighter;

    &:hover {
      background-color: transparent;

    }
  }
  &:active {
    background-color: $color-gray-dark;
    border-color: $color-gray-dark;
  }
}

.ft-button--fab-wrapper{
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 49;
  display: flex;
  flex-direction: center;
  align-items: center;
  border-color: $color-action;
  background-color: none;
  text-align: center;

  .ft-button--fab{
    position: relative;
    z-index: 50;
    background-color: $color-black;
    border-image: transparent;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
  
    &:hover{
      transform: scale(1.15);
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    }
  }
  
  svg{
    fill : $color-white;
  }

  &:hover ul{
    transition: 0.3s;
    bottom: 50px;
    opacity: 1;

  }
  &:hover ul li p{
      right: 70px;
      opacity: 1;
      transition: 0.3s ease-in;
  }

  p, a{
    text-decoration: none;
    color: $color-white;
  }

  ul{
    opacity: 0;
    list-style-type: none;
    padding: 0px;
    width: 100%;
    position: absolute;
    z-index: 49;
    bottom: 0px;
    margin-bottom: 0;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
  }

  li{
    background: $color-gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 12px;
    position: relative;

    font-size: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;

    &:hover{
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
      transform: scale(1.15);
    }

    svg{
      align-self: center;
    }

    a{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    p{
      opacity: 0;
      color: $color-black;
      font-size: 0.5em;
      position: absolute;
      z-index: 499;
      right: 0px;
      top: -12px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      text-align: left;
    }
  }
}

.ft-button--feature-label{
  padding: 0px ;
  margin: 0px;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  color: $color-gray;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:hover{
    color: $color-black;
    background-color: $color-gray-lightest;
    svg {
      fill: $color-black;
    }
  }
  &:active{
    color: $color-black;
    background-color: $color-secondary-darker;
  }
  &:disabled{
    color: $color-gray-lighter;
    background: transparent;
  }

  p{
    margin:  0px;
    padding: 0px 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 20px;
  }
  
  
}

.ft-button--outline-dark {
  background-color: transparent;
  border-color: $color-white;
  border-width: 2px;
  color: $color-white;

  &:hover {
    color: $color-gray-dark;
    background-color: $color-white;
  }
  &:disabled {
    color: $color-gray-dark;
    border-color: $color-gray-dark;

    &:hover{
      background-color: transparent;
    }
  }
  &:active {
    background-color: $color-secondary-darker;
    border-color: $color-secondary-darker;
  }
}


.ft-button--outline-small{
  height: 24px;
  border-width: 1px;
  padding: 1px 8px 2px 8px;
  line-height: 20px;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: center;
}


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
