.ft-buttongroup--is-focused ,.ft-buttongroup__button--is-focused {
  box-shadow: 0 0 0 2px $color-selected;
  border-radius: 2px;
}

.ft-buttongroup__button--small.ft-buttongroup--is-focused{
  border-radius: 4px;
}
.ft-buttongroup{
  display: flex;
  width: 100%;
  color: $color-gray-dark;
  justify-content: space-between;
  box-sizing: border-box;

}
.ft-buttongroup__button {
  
  flex: 1 0 0;
  text-align: center;
  box-sizing: border-box;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 0px;
  border-style: solid;
  border-color: $color-gray-lighter;
  background-color:$color-secondary;
  /*transition: all 0.1s ease;*/
  overflow: hidden;
  &:first-of-type{
    border-radius: 2px 0px 0px 2px;
  }
  &:last-of-type{
    border-right-width: 1px;
    border-radius: 0 2px 2px 0;
  }
  &:hover {
    
    background-color: $color-secondary-lighter;
    color: $color-black;
  }
  // padding: 0 12px 0 12px;
    height:40px;
}
.ft-buttongroup__button--disabled {
  color: $color-disabled;
  &:hover{
    cursor:default;
    color: $color-disabled;
    background-color:$color-secondary;
  }
}
.ft-buttongroup__button--small{
  height: 28px;
  &:first-of-type{
    border-radius: 4px 0px 0px 4px;
  }
  &:last-of-type{
    border-right-width: 1px;
    border-radius: 0 4px 4px 0;
  }
}
.ft-buttongroup__button__input{
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  &:disabled {
    cursor:not-allowed;
  }
}
.ft-buttongroup__button__label{
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  font-weight: $fontweight-regular;
  font-size: $fontsize-base-lg;
  line-height: $lineheight-base-lg;
  letter-spacing: $letterspacing-base-lg;
  font-family: $font-primary;
  
  cursor: pointer;
}
.ft-buttongroup__button__label-content {
  padding: 7px $baseline*3 9px $baseline*3;
}
.ft-buttongroup__button__label-content--small{
  font-size:$fontsize-base-md;
  font-weight: $fontweight-semi;
  line-height: $lineheight-base-md;
  letter-spacing: $letterspacing-base-md;
  padding:3px $baseline*2 5px $baseline*2;
}
// Why is this declared twice?
.ft-buttongroup__button__input{
  position: absolute;
  left: 0;
  top: 0;
}
.ft-buttongroup__button--active, .ft-buttongroup__button--active:hover{
  color:$color-white;
  background-color: $color-selected; 
  border-color: $color-selected-darkest; 
}
.ft-baseButton--small{
  
}