.ft-input-checkbox {
  position: relative;
}
.ft-input-checkbox__native{
  position: absolute;
  width:100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.ft-input-checkbox__label{
  display: flex;
}
.ft-input-checkbox__checkbox{
  margin-top: 4px;
  position: relative;
  width:24px;
  height: 24px;
}
.ft-svg-selected, .ft-svg-unselected {
  position: absolute;
  left: 0;
  top:0;
}
.ft-svg-selected{
  color:$color-selected;
}
.ft-svg-unselected{
  color: $color-gray;
}

.ft-input-checkbox__label-content {
  @include font-base-md();
  font-family: $font-primary;
  font-weight:$fontweight-regular;
  font-size: $fontsize-base-md;
  line-height:$lineheight-base-md;
  letter-spacing: $letterspacing-base-md;
  color:$color-gray-dark;
  padding-left: $baseline*3;
  &__label{
    margin: 6px 0;
  }
}
  
.ft-input-checkbox:hover{
  .ft-svg-selected{
    color:$color-selected-darkest;
  }
  .ft-svg-unselected{
    color: $color-black;
  }
  .ft-input-checkbox__label-content {
    color: $color-black;
  }
}
.ft-input-checkbox__disabled{
  .ft-input-checkbox__label-content, .ft-svg-selected, .ft-svg-unselected{
    color:$color-disabled;
  }
  &:hover{
    .ft-input-checkbox__label-content, .ft-svg-selected, .ft-svg-unselected{
      color:$color-disabled
    }
  }
}
$ft-input-checkbox-time:0.3s;
.ft-transition-scale-leave-active, .ft-transition-scale-leave-active{
  top: 0px;
  left: 0px;
}
.ft-transition-scale-enter-active {
  transition: transform $ft-input-checkbox-time, opacity $ft-input-checkbox-time, delay $ft-input-checkbox-time;
}
.ft-transition-scale-leave-active {
  transition: transform $ft-input-checkbox-time, opacity $ft-input-checkbox-time;
}
.ft-transition-scale-enter, .ft-transition-scale-leave-to {
  transform: scale(0);
  opacity: 0;
  left: 0;
  top: 0px;
}