@mixin placeholder() {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }
}

.ft-input-text__input {
  width: 100%;
  height: $baseline * 10;
  padding-left: $baseline * 3;
  padding-right: $baseline * 10;
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: $fontweight-regular;
  line-height: $lineheight-base-lg;
  letter-spacing: $letterspacing-base-lg;
  border: $color-gray-lighter 1px solid;
  color: $color-black;
  border-radius: 2px;

  @include font-base-lg();

  &:focus {
    outline: $color-selected 2px solid;
  }

  &:disabled {
    background-color: $color-secondary;
    color: $color-disabled;
  }

  @include placeholder() {
    color: $color-gray-lighter;
    font-style: italic;
  }
}
input[type=number]{
  text-align:right;
  padding-right:$baseline*3;
}
.ft-input-text__left-icon ~ .ft-input-text__input {
  padding-left: $baseline*11;
}

.ft-input-text__input-wrapper {
  position: relative;
}

.ft-input-text__left-icon,
.ft-input-text__right-icon {
  position: absolute;
  top: $baseline * 2;

  svg {
    width: 24px;
    height: 24px;
  }
}

.ft-input-text__left-icon {
  left: $baseline * 2;
}

.ft-input-text__right-icon {
  right: $baseline * 2;
}

.ft-input-text__label {
  text-transform: uppercase;
  font-weight: $fontweight-semi;
  font-family: $font-primary;
  line-height: $lineheight-base-md;
  letter-spacing: $letterspacing-base-md;
  color: $color-black;

  @include font-base-md();
}

.ft-input-text__label-wrapper {
  position: relative;
  margin-bottom: $baseline;
}

.ft-input-text__auxillary-slot {
  @include font-base-sm();

  position: absolute;
  right: 0;
  bottom: 0;
}

.ft-input-text {
  padding-bottom: $baseline * 6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ft-input-text--error {
  .ft-input-text__input {
    border-color: $color-error;
    color: $color-error;
  }

  .ft-input-text__error-text {
    margin-top: $baseline;
    color: $color-error;
    font-size: $fontsize-base-md;
    letter-spacing: $letterspacing-base-md;
    line-height: $lineheight-base-md;
    font-weight: $fontweight-regular;
    font-family: $font-primary;
  }

  .ft-input-text__label {
    color: $color-error;
  }
}
.ft-false-text-area{
  visibility: hidden;
  font-size:$fontsize-base-lg;
  position: absolute;
  left: -999999px;
  margin: 0px;
  padding-bottom:0px;
  background: lightblue;
  display: inline-block;
  white-space:pre-line;
  word-wrap: break-word;
  line-height:$lineheight-base-lg;
}
.ft-input-text__input__textarea{
   overflow: auto;
   transition:height 150ms ease-in-out;
   padding-top:7px;
   padding-bottom:1px;
}