.ft-input-checkbox {
  position: relative;
  .ft-input-checkbox__native {
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    margin: 0px;
    & + .ft-input-checkbox__checkbox{
      color: $color-gray;
      position: absolute;
      top: 0;
      & + span {
        position: relative;
        top: -7px;
      }
    }
    &:hover, &:focus {
      & + .ft-input-checkbox__checkbox {
        color: $color-black;
      }
    }
    &:checked{
      & + .ft-input-checkbox__checkbox{
        color:$color-selected;
      }
    }
    &:checked {
      &:hover+ .ft-input-checkbox__checkbox{
        color:$color-selected-lighter;
      }
    }
    &:disabled + .ft-input-checkbox__checkbox, &:hover:disabled + .ft-input-checkbox__checkbox{
      color:$color-disabled;
    }
  }
  .ft-input-checkbox__label-content{
    display: inline-block;
    padding-left: 32px;
    padding-top: 4px;
    &__label{
      margin: 0px;
    }
  }
  .ft-input-checkbox__label {
    @include font-base-sm();
  } 
}