.fishtank-radio{
  font-family: $font-primary;
  position: relative;
  padding-left: $baseline*9;
  padding-top: 6px;
  padding-bottom: 6px;
}
.fishtank-radio__input{
  opacity: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.fishtank-radio__icon{
  transition: all 0.3s ease;
  display:inline-block;
  width:12px;
  height:12px;
  background-color: transparent;
  content:"";
  border: 2px solid $color-gray;
  border-radius:50%;
  position: absolute;
  left: 4px;
  top: 8px;
}
.fishtank-radio__input + .fishtank-radio__icon{
  &:after{
    content:"";
    width: 6px;
    height: 6px;
    background-color: $color-selected;
    border:1px solid $color-selected;
    border-radius: 50%;
    display: inline-block;
    top: 2px;
    left: 2px;
    position: absolute;
    transform: scale(0.0);
    transition: transform .3s cubic-bezier(.5,.1,.3,1.5);
  }
}
.fishtank-radio__input:checked + .fishtank-radio__icon{
  &:after{
    transform: scale(1.0);
  }
}
.fishtank-radio__input:hover + .fishtank-radio__icon{
  &:after{
    background-color: $color-selected-darker;
    border:1px solid $color-selected-darker;
  }
}
.fishtank-radio__label{
  color: $color-gray-dark;
  font-size: $fontsize-base-md;
  line-height: $lineheight-base-md;
  letter-spacing: $letterspacing-base-md;
  font-weight:$fontweight-regular;
  &:hover{
    color:$color-black;
  }
}
.fishtank-radio__input:hover {
  & + .fishtank-radio__icon{
    border:2px solid $color-black;
  }
}
.fishtank-radio__input:disabled + .fishtank-radio__icon{
  border:2px solid $color-disabled;
}
.fishtank-radio__input:checked:disabled + .fishtank-radio__icon{
  border:2px solid $color-disabled;
  &:after {
    background-color: $color-disabled;
    border:1px solid $color-disabled;
  }
}
.fishtank-radio__input:disabled ~ .fishtank-radio__label-content{
  color:$color-disabled;
}