@import "./node_modules/@fishtank/colors/dist/index.scss";

.ft-nested-checkbox__label{
  position: relative;
  display: block;
  font-size: 0.75rem;
  line-height: 1rem;
}
.ft-nested-checkbox__input{
  opacity: 0;
  position: absolute;
  display: inline-block;
  width:100%;
}
.ft-nested-checkbox__icon {
  display: inline;
  position: absolute;
  top:0px
}
.ft-nested-checkbox__label-content {
  display: inline-block;
  padding-left: 32px;
  padding-top: 4px;
}
.ft-nested-checkbox__wrap{
  padding-left: 28px;
}
