@import "./node_modules/@fishtank/colors/dist/index.scss";
@import "./node_modules/@fishtank/space/dist/index.scss";
@import "./node_modules/@fishtank/type/dist/index.scss";

body.user-is-tabbing {
   .ft-tag,  .ft-tag-remove {
      box-shadow: 0 0 0 2px $color-selected;
  }
}

[class^="tag--"] {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    font-family: $font-primary;
    border-radius: 6px;
    position: relative;
    font-size: $fontsize-base-md;
    line-height: $lineheight-base-md;
    letter-spacing: $letterspacing-base-md;
    margin: 0px;
    font-weight: $fontweight-semi;
    padding: 2px $baseline*2 3px $baseline*2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-fade-item {
    margin-right: $baseline*2;
}

.list-fade-enter-active {
    animation: fade 0.125s;
}

.list-fade-leave-active {
    animation: fade 0.125s reverse;
}
.tag--text {
    padding: 0px;
    margin: 0px;
}

.tags--heading {
    font-size: $fontsize-heading-sm;
}

.tags--text {
    font-family: $font-primary;
    font-size: $fontsize-base-md;
    font-weight: $fontweight-semi;
}

.tag-close-icon {
    vertical-align: middle;
    padding: 0px;
    margin-left: $baseline;
    margin-right: -$baseline*2;
    position: relative;
}

.tag-expand-icon {
    vertical-align: middle;
    padding: 0px;
    margin-left: $baseline;
    margin-right: -$baseline*3;
    top: -1px;
    left: -$baseline;
    position: relative;
    transform: rotate(180deg);
    transition: transform .2s linear;
}

.tag-collapse-icon {
    vertical-align: middle;
    padding: 0px;
    margin-left: $baseline;
    margin-right: -$baseline*3;
    top: -1px;
    left: -$baseline;
    position: relative;
    transform: rotate(0deg);
    transition: transform .2s linear;
}

.tag--removeable,
.tag--removeable--disabled {
    padding: 1px $baseline*2 1px $baseline*2;
}

.tag--multiselect--active,
.tag--multiselect--inactive,
.tag--multiselect--disabled {
    padding: 2px $baseline*2 0 $baseline*2;
}

.tag--active,
.tag--multiselect--active {
    color: $color-white;
    background-color: $color-selected;
    border: 1px solid $color-selected;
}

.tag--removeable {
    color: $color-white;
    background-color: $color-selected;
    border: 1px solid $color-selected;
}

.tag--active:hover,
.tag--removeable:hover,
.tag--multiselect--active:hover {
    color: $color-white;
    background-color: $color-selected-lighter;
    border: 1px solid $color-selected-lighter;
}

.tag--inactive,
.tag--multiselect--inactive {
    color: $color-gray;
    background-color: $color-gray-lightest;
    border: 1px solid $color-gray-lighter;
}

.tag--inactive:hover,
.tag--multiselect--inactive:hover {
    color: $color-black;
    background-color: $color-secondary-lighter;
    border: 1px solid $color-gray-lighter;
}

.tag--disabled,
.tag--removeable--disabled,
.tag--multiselect--disabled {
    color: $color-disabled;
    background-color: $color-gray-lightest;
    border: 1px solid $color-gray-lighter;
}

.multiselect-options-inactive {
    display: none;
}

.multiselect-options-active label {
    display: block;
}