{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/recommended",
    "@vue/prettier",
    "@vue/typescript"
  ], 
  "rules": {
    "prettier/prettier": ["warning", {
      "semi": false
    }],
    "semi": ["warn", "never"]
  },
  "plugins": [
    "vue"
  ]
}