{
  "root": true,
  "extends": [
    "plugin:vue/recommended",
    "@vue/prettier",
    "@vue/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  }, 
  "rules": {
    "prettier/prettier": ["warning", {
      "semi": false
    }],
    "semi": ["warn", "never"]
  }
}