{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/recommended",
    "@vue/prettier",
    "@vue/typescript"
  ], 
  "rules": {
    "prettier/prettier": ["warning", {
      "semi": false
    }],
    "semi": ["warn", "never"],
    "vue/multiline-html-element-content-newline":["error", {
      "ignores": ["VueComponent", "pre", "textarea"]
    }],
    "vue/component-name-in-template-casing": ["error", "kebab-case", {
      "ignores": []
    }],
    "vue/html-closing-bracket-newline": ["error", {
      "multiline": "never"
    }]
  },
  "plugins": [
    "vue"
  ]
}