@import "../../../node_modules/@fishtank/colors/dist/index";

.box {
  .accessibilityOutline:focus {
    box-shadow: 0 0 0 2px $color-selected;
    outline: 0;
  }

  .accessibilityOutlineFocus {
    box-shadow: 0 0 0 2px $color-selected;
    outline: 0;
  }
  // composes: accessibilityOutline from "./Focus.css";
  // composes: borderBox from "./Layout.css";
}

/* Display */
.xsDisplayNone {
  display: none;
}

.xsDisplayFlex {
  display: flex;
  flex-direction: row;
}

.xsDisplayBlock {
  display: block;
}

.xsDisplayInline {
  display: inline;
}

.xsDisplayInlineBlock {
  display: inline-block;
}

.xsDisplayVisuallyHidden {
  border: 0;
  opacity:0;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Direction */

.xsDirectionRow {
  flex-direction: row;
}

.xsDirectionColumn {
  flex-direction: column;
}

.xsDirectionRowReverse {
  flex-direction: row-reverse;
}

.xsDirectionColumnReverse {
  flex-direction: column-reverse;
}

@media (min-width:480px) {
  .smDisplayNone {
    display: none;
  }

  .smDisplayFlex {
    display: flex;
    flex-direction: row;
  }

  .smDisplayBlock {
    display: block;
  }

  .smDisplayInlineBlock {
    display: inline-block;
  }

  .smDisplayVisuallyHidden {
    border: 0;
    opacity:0;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  /* Direction */

  .smDirectionRow {
    flex-direction: row;
  }

  .smDirectionColumn {
    flex-direction: column;
  }

  .smDirectionRowReverse {
    flex-direction: row-reverse;
  }

  .smDirectionColumnReverse {
    flex-direction: column-reverse;
  }
}

@media (min-width:752px) {
  .mdDisplayNone {
    display: none;
  }

  .mdDisplayFlex {
    display: flex;
    flex-direction: row;
  }

  .mdDisplayBlock {
    display: block;
  }

  .mdDisplayInlineBlock {
    display: inline-block;
  }

  .mdDisplayVisuallyHidden {
    border: 0;
    opacity:0;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* Direction */

  .mdDirectionRow {
    flex-direction: row;
  }

  .mdDirectionColumn {
    flex-direction: column;
  }

  .mdDirectionRowReverse {
    flex-direction: row-reverse;
  }

  .mdDirectionColumnReverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1008px) {
  .lgDisplayNone {
    display: none;
  }

  .lgDisplayFlex {
    display: flex;
    flex-direction: row;
  }

  .lgDisplayBlock {
    display: block;
  }

  .lgDisplayInlineBlock {
    display: inline-block;
  }

  .lgDisplayVisuallyHidden {
    border: 0;
    opacity:0;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  /* Direction */

  .lgDirectionRow {
    flex-direction: row;
  }

  .lgDirectionColumn {
    flex-direction: column;
  }

  .lgDirectionRowReverse {
    flex-direction: row-reverse;
  }

  .lgDirectionColumnReverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1440px) {
  .xlDisplayNone {
    display: none;
  }

  .xlDisplayFlex {
    display: flex;
    flex-direction: row;
  }

  .xlDisplayBlock {
    display: block;
  }

  .xlDisplayInlineBlock {
    display: inline-block;
  }

  .xlDisplayVisuallyHidden {
    border: 0;
    opacity:0;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  /* Direction */

  .xlDirectionRow {
    flex-direction: row; 
  }

  .xlDirectionColumn {
    flex-direction: column;
  }

  .xlDirectionRowReverse {
    flex-direction: row-reverse;
  }

  .xlDirectionColumnReverse {
    flex-direction: column-reverse;
  }
}