$ncols: 12;

.layoutColumn{
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex: 1 0 auto;
  box-sizing: content-box;
}

.xsDisplayBlock {
  display: block;
}

.col {
  vertical-align: top;
}

