@import "variables-scss.scss";

@mixin font-base-lg() {
  font-size: var(--fontsize-base-lg);
  line-height: var(--lineheight-base-lg);
}

@mixin font-base-md() {
  font-size: var(--fontsize-base-md);
  line-height: var(--lineheight-base-md);
}

@mixin font-base-sm() {
  font-size: var(--fontsize-base-sm);
  line-height: var(--lineheight-base-sm);
}

@mixin breakpoint-xl () {
  @media (min-width: var(--breakpoint-xlarge-min)) {
    @content;
  }
}

@mixin breakpoint-lg () {
  @media (min-width: var(--breakpoint-large-min)) and (max-width: calc(var(--breakpoint-xlarge-min) - 1px)) {
    @content;
  }
}

@mixin breakpoint-lg-or-greater () {
  @media (min-width: var(--breakpoint-large-min)) {
    @content;
  }
}

@mixin breakpoint-lg-or-lesser () {
  @media (max-width: calc(var(--breakpoint-xlarge-min) - 1px)) {
    @content;
  }
}

@mixin breakpoint-md () {
  @media (min-width: var(--breakpoint-medium-min)) and (max-width: calc(var(--breakpoint-large-min) - 1px)) {
    @content;
  }
}

@mixin breakpoint-md-or-greater () {
  @media (min-width: var(--breakpoint-medium-min)) {
    @content;
  }
}

@mixin breakpoint-md-or-lesser () {
  @media (max-width: calc(var(--breakpoint-large-min) - 1px)) {
    @content;
  }
}

@mixin breakpoint-sm () {
  @media (min-width: var(--breakpoint-small-min)) and (max-width: calc(var(--breakpoint-medium-min) - 1px)) {
    @content;
  }
}

@mixin breakpoint-sm-or-greater () {
  @media (min-width: var(--breakpoint-small-min)) {
    @content;
  }
}

@mixin breakpoint-sm-or-lesser () {
  @media (max-width: calc(var(--breakpoint-medium-min) - 1px)) {
    @content;
  }
}

@mixin breakpoint-xs () {
  @media (max-width: calc(var(--breakpoint-small-min) - 1px)) {
    @content;
  }
}

@mixin baseButton {
  @include font-base-lg();
  font-family: var(--font-primary);
  font-weight: var(--fontweight-semi);

  padding: 6px 11px 10px 11px;
  height: calc(var(--baseline)*10);
}

@mixin baseButtonSm {
  @include font-base-sm();
  font-family: var(--font-primary);
  font-weight: var(--fontweight-semi);

  padding: 7px 11px 9px 11px;
  height: calc(var(--baseline)*10);
}

@mixin button-box-shadow($color) {
  box-shadow: inset 0 -1px 0 0 rgba(black, 0.1),
              inset 0 1px 0 0 rgba(white, 0.1),
              0 8px 8px -8px rgba($color, 0.5),
              0 10px 15px -8px rgba(black, 0.2);

  &:disabled {
    box-shadow: none;
  }

  &:hover {
    box-shadow: inset 0 -1px 0 0 rgba(black, 0.1),
                inset 0 1px 0 0 rgba(white, 0.1),
                0 8px 8px -8px rgba($color, 0.6),
                0 10px 15px -8px rgba(black, 0.3);
  }

}