//Updated to relative linking to node_modules to support import into css_Modules
@import '../../node_modules/@fishtank/colors/dist/index';
@import '../../node_modules/@fishtank/type/dist/index';
@import '../../node_modules/@fishtank/space/dist/index'; 

$color-selection: $color-selected;
$color-selection-lighter: $color-selected-lighter;
$color-selection-lightest: $color-selected-lightest;