//Updated to relative linking to node_modules to support import into css_Modules
@import '../../node_modules/@fishtank/colors/dist/index';
@import '../../node_modules/@fishtank/type/dist/index';
@import '../../node_modules/@fishtank/space/dist/index';
// Provide CSS Custom Properties variables in anticipation of migrating over to only using custom properties
@import '../../node_modules/@fishtank/space/dist/index.custom-properties';
@import '../../node_modules/@fishtank/type/dist/index.custom-properties';
@import '../../node_modules/@fishtank/colors/dist/index.custom-properties';

// $font-primary: open sans, arial, sans-serif;
// $font-accent: avenir next, avenir, helvetica neue, helvetica, arial, sans-serif;

$color-selection: $color-selected;
$color-selection-lighter: $color-selected-lighter;
$color-selection-lightest: $color-selected-lightest;